numpy
pandas
matplotlib
plotly
scikit-learn
jupyter
tensorflow
opencv-python
sphinx
pytest
tqdm
mpl-point-clicker
torch
torchvision 
torchaudio
ultralytics
open3d
pyudev
mpl_point_clicker
opencv-contrib-python
sphinxcontrib-mermaid